:root {
  --primary-color: hsl(210deg, 97%, 47%);
  --secondary-color: hsl(225, 71%, 38%);
  --night-blue: hsl(208, 100%, 13%);
  --black: #333;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 50px;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.title {
  font-weight: 300;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: 'Lato', sans-serif;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}

.shadow {
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
          box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
  border-radius: 10px;
}

header {
  padding: 25px 0 50px;
  background-color: var(--primary-color);
  color: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .title {
  font-size: 1.8rem;
  line-height: 0.5;
}

header nav {
  width: 230px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 0 10px 8px;
  border-bottom: 2px solid transparent;
  padding-top: 0;
}

header nav ul li:hover {
  border-bottom: 2px solid white;
}

.hero {
  padding-bottom: 25px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__description {
  max-width: 53%;
}

.hero__description h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero__description p {
  font-size: 1.2rem;
  line-height: 30px;
}

.hero__image img {
  width: 200px;
}

.documentation {
  padding: 35px 0;
}

.documentation .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(7, 1fr)/repeat(3, 1fr);
  grid-gap: 35px;
}

.documentation .subtitle {
  margin: 20px 0;
}

.documentation__links {
  grid-row: span 4;
  padding: 30px;
  background-color: #f4f4f4;
}

.documentation__links a {
  display: block;
  color: var(--black);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 7px 0;
}

.documentation__links span {
  color: var(--primary-color);
}

.documentation__introduction {
  grid-column: span 2;
  grid-row: span 7;
  padding: 20px;
}

.documentation__introduction .title {
  margin: 10px 0;
  font-size: 1.6rem;
}

.documentation__introduction p:not(:nth-of-type(3)) {
  line-height: 25px;
  margin-bottom: 10px;
}

.documentation__introduction li {
  background-color: #5cb85c;
  color: #fff;
  padding: 15px 35px;
  font-weight: bold;
  list-style-type: none;
  position: relative;
}

.documentation__introduction li::before {
  content: "\2139";
  position: absolute;
  top: 7px;
  left: 18px;
  font-size: 1.6rem;
}

.documentation__introduction button {
  padding: 12px 25px;
  font-size: 1rem;
}

.documentation__introduction code {
  background-color: var(--black);
  color: #fff;
  padding: 13px 20px;
  display: block;
}

.documentation__introduction code:not(:last-of-type) {
  margin-bottom: 10px;
}

.documentation a:hover, .documentation .btn:hover {
  font-weight: bold;
}

footer {
  background-color: var(--night-blue);
  height: 200px;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .copyright {
  color: #fff;
}

footer .copyright h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer .links a {
  display: block;
  margin-bottom: 10px;
}

footer .social-media {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 25px;
}

footer .social-media .fa-github:hover {
  color: #000;
}

footer .social-media .fa-facebook:hover {
  color: #1875ea;
}

footer .social-media .fa-instagram:hover {
  color: #d4465c;
}

footer .social-media .fa-twitter:hover {
  color: #1c9cea;
}
