:root {
  --primary-color: hsl(210deg, 97%, 47%);
  --secondary-color: hsl(225, 71%, 38%);
  --night-blue: hsl(208, 100%, 13%);
  --black: #333;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 50px;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.title {
  font-weight: 300;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}

.shadow {
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
          box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
  border-radius: 10px;
}

header {
  padding: 25px 0 50px;
  background-color: var(--primary-color);
  color: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .title {
  font-size: 1.8rem;
  line-height: 0.5;
}

header nav {
  width: 230px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 0 10px 8px;
  border-bottom: 2px solid transparent;
  padding-top: 0;
}

header nav ul li:hover {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 500px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .title {
    margin-bottom: 25px;
  }
  header nav {
    background: #036ed8;
  }
  header nav ul {
    margin: 0 20px;
  }
  header nav ul li {
    padding: 10px 15px;
  }
}

.hero {
  padding-bottom: 25px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__description {
  max-width: 53%;
}

.hero__description h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero__description p {
  font-size: 1.2rem;
  line-height: 30px;
}

.hero__image img {
  width: 200px;
}

@media screen and (max-width: 769px) {
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__description {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.platform {
  background-color: #f4f4f4;
  padding: 30px 0;
}

.platform .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 55px;
}

.platform__description {
  max-width: 53%;
}

.platform__description h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.platform__description p {
  line-height: 23px;
}

.platform__image img {
  width: 300px;
}

@media screen and (max-width: 769px) {
  .platform .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .platform__description {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.features-grid {
  padding: 50px 0 30px;
  margin-bottom: 30px;
}

.features-grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-gap: 20px 35px;
  padding: 0 55px;
}

.features-grid .container > * {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-grid .container > * i {
  font-size: 2.5rem;
  padding-right: 20px;
}

.features-grid .grid-child-1 {
  grid-column: span 3;
}

.features-grid .grid-child-2 {
  grid-column: span 2;
}

@media screen and (max-width: 769px) {
  .features-grid .container {
    grid-template: none;
  }
  .features-grid .container > * {
    padding: 40px 20px;
  }
  .features-grid .grid-child-1 {
    grid-column: span 1;
  }
  .features-grid .grid-child-2 {
    grid-column: span 1;
  }
}

footer {
  background-color: var(--night-blue);
  height: 200px;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .copyright {
  color: #fff;
}

footer .copyright h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer .links a {
  display: block;
  margin-bottom: 10px;
}

footer .social-media {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 25px;
}

footer .social-media .fa-github:hover {
  color: #000;
}

footer .social-media .fa-facebook:hover {
  color: #1875ea;
}

footer .social-media .fa-instagram:hover {
  color: #d4465c;
}

footer .social-media .fa-twitter:hover {
  color: #1c9cea;
}

@media screen and (max-width: 769px) {
  footer {
    height: 350px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  footer .copyright {
    margin-bottom: 40px;
  }
  footer .links {
    margin-bottom: 20px;
  }
  footer .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 10px;
  }
}
