:root {
  --primary-color: hsl(210deg, 97%, 47%);
  --secondary-color: hsl(225, 71%, 38%);
  --night-blue: hsl(208, 100%, 13%);
  --black: #333;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 50px;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.title {
  font-weight: 300;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}

.shadow {
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
          box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.271);
  border-radius: 10px;
}

header {
  padding: 25px 0 50px;
  background-color: var(--primary-color);
  color: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .title {
  font-size: 1.8rem;
  line-height: 0.5;
}

header nav {
  width: 230px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 0 10px 8px;
  border-bottom: 2px solid transparent;
  padding-top: 0;
}

header nav ul li:hover {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 500px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .title {
    margin-bottom: 25px;
  }
  header nav {
    background: #036ed8;
  }
  header nav ul {
    margin: 0 20px;
  }
  header nav ul li {
    padding: 10px 15px;
  }
}

.home-hero {
  padding: 55px 0;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.home-hero * {
  position: relative;
  z-index: 1;
}

.home-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 41px;
  padding: 0 60px;
}

.home-hero .container .home-hero__description {
  -webkit-animation: deployment-animation 1000ms ease-in;
          animation: deployment-animation 1000ms ease-in;
}

.home-hero .container .home-hero__description .home-hero__title {
  font-size: 2.3rem;
  margin: 20px 0;
}

.home-hero .container .home-hero__description p {
  line-height: 23px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.home-hero .container .home-hero__description input[type=button] {
  border: 1px solid #fff;
  padding: 13px 30px;
}

.home-hero .form {
  padding: 45px 30px 30px 30px;
  width: 550px;
  background-color: #fff;
  color: #000;
  -webkit-animation: form-animation 1000ms ease-in;
          animation: form-animation 1000ms ease-in;
}

.home-hero .form h3 {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.home-hero .form input:not([type=submit]) {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.322);
  font-size: 1rem;
  outline: none;
}

.home-hero .form input[type=submit] {
  font-size: 0.9rem;
  padding: 9px 25px;
}

.home-hero::before {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 68px;
  position: absolute;
  bottom: 0;
}

.home-hero::after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 1px;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

@-webkit-keyframes form-animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes form-animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes deployment-animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes deployment-animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 769px) {
  .home-hero {
    margin-top: -50px;
  }
  .home-hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-hero__description {
    text-align: center;
    margin-bottom: 40px;
  }
  .home-hero .form {
    padding: 40px;
    max-width: 380px;
  }
  @-webkit-keyframes form-animation {
    from {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes form-animation {
    from {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes deployment-animation {
    from {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes deployment-animation {
    from {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media screen and (max-width: 500px) {
  .home-hero .form {
    padding: 40px;
    max-width: 320px;
  }
}

.services {
  padding-bottom: 30px;
}

.services .container > div:first-child {
  -webkit-animation: services-animation 1000ms ease-in-out;
          animation: services-animation 1000ms ease-in-out;
}

.services__description {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 25px;
}

.services__cards {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__cards .card {
  text-align: center;
}

.services__cards .card i {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.services__cards .card h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.services__cards .card span {
  font-weight: 700;
  color: var(--secondary-color);
}

.services__cli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__cli img {
  width: 65%;
}

.services__cli > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 160px;
}

.services__cli-description {
  font-weight: 700;
  padding: 18px 28px 18px 15px;
}

@-webkit-keyframes services-animation {
  from {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes services-animation {
  from {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 769px) {
  .services {
    overflow-x: hidden;
  }
  .services__description {
    width: 100%;
  }
  .services__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__cards .card {
    margin-bottom: 30px;
  }
  .services__cli {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__cli img {
    width: 125%;
  }
  .services__cli > div {
    width: 100%;
  }
}

.cloud {
  padding: 30px 0;
}

.cloud .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cloud__image img {
  max-width: 355px;
}

.cloud__description {
  text-align: center;
}

.cloud__description .cloud__title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.cloud__description p {
  margin-bottom: 15px;
}

.cloud__description input[type=button] {
  background-color: var(--night-blue);
  color: #fff;
  padding: 13px 24px;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  .cloud .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cloud__description {
    margin-bottom: 30px;
  }
  .cloud img {
    max-width: 100%;
  }
}

.supported {
  padding: 30px 0 35px;
}

.supported__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
}

.supported__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 19px;
}

.supported__languages .language {
  text-align: center;
  padding: 20px 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.supported__languages .language:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.supported__languages .language h3 {
  margin-bottom: 15px;
}

footer {
  background-color: var(--night-blue);
  height: 200px;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .copyright {
  color: #fff;
}

footer .copyright h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer .links a {
  display: block;
  margin-bottom: 10px;
}

footer .social-media {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 25px;
}

footer .social-media .fa-github:hover {
  color: #000;
}

footer .social-media .fa-facebook:hover {
  color: #1875ea;
}

footer .social-media .fa-instagram:hover {
  color: #d4465c;
}

footer .social-media .fa-twitter:hover {
  color: #1c9cea;
}

@media screen and (max-width: 769px) {
  footer {
    height: 350px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  footer .copyright {
    margin-bottom: 40px;
  }
  footer .links {
    margin-bottom: 20px;
  }
  footer .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 10px;
  }
}
