header {
    padding: 25px 0 50px;
    background-color: var(--primary-color);
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .title {
        font-size: 1.8rem;
        line-height: 0.5;
    }

    nav {
        width: 230px;

        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;

            li {
                padding: 0 10px 8px;
                border-bottom: 2px solid transparent;
                padding-top: 0;
                
                &:hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }

}