.cloud {
    padding: 30px 0;

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__image {
        img {
            max-width: 355px;
        }
    }

    &__description {
        text-align: center;

        .cloud__title {
            font-size: 2.5rem;
            margin-bottom: 15px;
        }
        
        p {
            margin-bottom: 15px;
        }

        input[type=button] {
            background-color: var(--night-blue);
            color: #fff;
            padding: 13px 24px;
            font-size: 1rem;
        }
    }

}

@media screen and (max-width: 769px) {

    .cloud {

        .container {
            flex-direction: column;
        }

        &__description {
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
        }
    }
    
}