.services {
    padding-bottom: 30px;

    &__description {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 25px;
    }

    &__cards {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;

        .card {
            text-align: center;

            i {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 15px;
            }

            span {
                font-weight: 700;
                color: var(--secondary-color);               
            }
        }
    }

    &__cli {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 65%;
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 160px;
        }

        &-description {
            font-weight: 700;
            padding: 18px 28px 18px 15px;
        }
    }
}

@media screen and (max-width: 769px) {

    .services {

        &__description {
            width: 100%;
        }
    
        &__cards {
            flex-direction: column;
            
            .card {
                margin-bottom: 30px;
            }
        }

        &__cli {
            flex-direction: column;
    
            img {
                width: 125%;
            }
    
            > div {
                width: 100%;
            }
        }
    }
    
}